<style>
    body{
        background-color:tomato;
        color:white;
    }
    a{
        color:yellow;
    }
</style>
<h1>Hi, Welcome</h1>

<p>This small application renders some ice cream flavors and displays thier accompaning data</p>

<p>In this application, I am utilizing: 
    <ul>
        <li>handlebars for ease of templating</li>
        <li>express for route handling</li>
        <li>and express-handlebars for the best of both worlds</li>
    </ul>
</p>

<p>all of which can be found in the package json</p>

<p>if you would like to go somewhere, click below:</p>

<ul>
    <li>
        <a href = "/all">see all flavors</a>
    </li>
</ul>